@import "./Variable.scss";

.response {
	& > pre {
		padding: 20px;
		background-color: #1e2224;
		margin-bottom: 0;
	}

	& > blockquote {
		font-size: 12px;
		margin: 0;
		padding: 16px 20px;
		color: white;
		background-color: #191d1f;
		&> p {
			margin: 0;
		}
	}
}
