$root-background: #fdfdfd;

$sidebar-width: 280px;
$sidebar-background: #f1f2f3;

$response-width: 480px;
$response-background: #333639;
$response__code--background: #1e2224;
$response__code--description: #191d1f;


$highlight: #f09812;
